.Regresar{
color:rgb(255,255,255);
font-size:20px;
border:1px solid cyan;
text-decoration:none;
}
.Regresar:hover{
text-decoration:underline;
}
.caja{
width:40%;
height:40%;

}
.div{
border-radius:80%;
width:30%;
height:30%;
}

body{
background:rgb(0,0,0);
}
footer{
color:rgb(255,255,255);
position:fixed;
width:100%;
bottom:20;

}
h1{
background:orange;
}
input{
background:rgb(0,0,0);
color:rgb(255,255,255);
font-size:20px;
font-family:Arial;
}
label{
color:rgb(255,255,255);

font-size:20px;

}
p{
color:#ccc;
}
